@use "../../styles/common" as common;

$title-font-size: common.$font-size-base * .7;
$light-color: lighten(common.$primary, 20%);

.menuItem {
  color: common.$text-muted;
  font-size: $title-font-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  outline: 0;
  @include common.transition;
  &_selected {
    color: $light-color
  }
  &:hover {
    color: common.$primary;
  }
  &:focus {
    color: $light-color
  }
  &__icon {
    font-size: map-get(common.$display-font-sizes, "6");
  }
  &__title {

  }
}