@use "../common" as common;

.createChallenge {
  display: flex;
  justify-content: center;
  margin: 0 15%;
  &__form {
    @include common.media-query {
      width: 100%;
    }
  }
  &__formInput {
    margin-bottom: 10px;
  }
  &__challengeDescriptionInput {
    resize: none;
    height: 100px !important;
  }
  &__goals {

  }
  &__submit {
    width: 100%;
  }
  &__back {
    width: 100%;
  }
}