@use "../common" as common;

.createChallenge {
  display: flex;
  justify-content: center;
  margin: 0 15%;
  @include common.media-query {
    margin: 0 10px;
  }
  &__form {
    width: 100%;
  }
  &__divideLabel {
    margin-top: 40px;
  }
  &__formInput {
    margin-bottom: 10px;
  }
  &__challengeDescriptionInput {
    height: 100px;
    resize: none;
  }
  &__goals {

  }
  &__submit {
    width: 100%;
  }
  &__back {
    width: 100%;
  }
}