@use "../../styles/common" as common;

$spacer: 25px;
$image-size: 200px;

.userId {
  &__imageContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 200px;
    margin-right: $spacer;
    @include common.media-query {
      justify-content: center;
      margin-right: 0;
    }
  }
  &__image {
    margin: $spacer;
    width: $image-size;
    height: $image-size;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  &__personalInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include common.media-query {
      align-items: center;
      text-align: center;
    }
  }
  &__name {
    font-size: common.$font-size-lg;
    font-weight: bold;
    margin-bottom: 10px;
  }
  &__email {
    color: common.$text-muted;
  }
  &__signOutContainer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}