@use "../../styles/common" as common;

.layout {
  @include common.full-page;
  overflow: hidden;
  &__main {
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
  }
}