@use "../../styles/common";

.goalFormContext {
    position: relative;
    &__body {

    }
    &__actions {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: -50px;
    }
    &__action {
        margin-bottom: 0;
        color: common.$text-muted;
    }
}