@use "../../styles/common" as common;

.loading {
  @include common.full-page;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: common.$white;
  color: common.$primary
}